html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

main {
  min-height: calc(100vh - 80px - 140px);
}

nav {
  height: 80px !important;
}

.margin {
  margin-top: 1rem;
}

.overflow {
  height: 50%;
  overflow: hidden;
}

.overflow .card-img-top {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.overflow .card-img-top:hover {
  transform: scale(1.8);
}

#nprogress .bar {
  background: #ff5367 !important;
}

#nprogress .spinner-icon {
  border-top-color: #ffbb00;
  border-left-color: #ffbb00;
}
